<!doctype html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>{% block title %}Astrolagbus Neon Belt{% endblock %}</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{{ url_for('astrolagbus.static', filename='css/main.css') }}">
  </head>
  <body>
      <header>
        <a class="logo" href="{{ url_for('astrolagbus.index')}}">ASTROLAGBUS</a>
	<div> 
            <ul class="menu">
            <li>
                <a href="{{ url_for('astrolagbus.index') }}">Play</a>
            </li>
            <li>
                <a href="{{ url_for('astrolagbus.leaderboard') }}">Leaderboard</a>
            </li>
            <li>
                <a href="{{ url_for('astrolagbus.about') }}">About</a>
            </li>
            </ul>
        </div>
      </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </body>
</html> 